body {
    background-color: rgb(253, 251, 251);
    font-family: 'Courier New', Courier, monospace;
    line-height: 20px;
    color: rgb(94, 20, 20);
    font-size:small;
}

#cabecalho {
    position: fixed;
    top: 0;
}

#minha_foto {
    width: 150px;
    border: 5px solid orange;
    border-radius: 10px;
}

#tabela_bonus {
  border: 1px solid blue;
  margin: 10px;
  padding: 10px;
}